

html {
  scroll-behavior: smooth;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
.feature{
    background-color: antiquewhite;
    margin-left: 40px;
    /* text-align: justify; */
    justify-content: center;
}
.feature1{
    margin-left: 40px;
    /* text-align: justify; */
     justify-content: center;
}
.article{
    width: 60%;
    margin: auto;
    color: #000000;
}
img {
    max-width: 100%;
    height: auto;
}
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.center-text {
    text-align: center;
}
.left1{
    background-color: #2563eb;
    color: white; 
    float: left;
    width: 20%;
    text-align: center;
    margin-left: 10px;
}
.center1{
    background-color: #14b8a6;
    color: white; 
    float: left;
    width: 40%;
    text-align: center;
}
.right1{
    background-color: #0f172a;
    color: white;
    float: left;
    width: 20%;
    text-align: center;
}
.left1, .center1, .right1 {
    background: linear-gradient(to right, #3b82f6, #1e3a8a);
    color: white;
}
.left1 a, .center1 a, .right1 a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
/* @media screen and (max-width:1200px) {
    .center1{
    float: left;
    width: 40%;
    text-align: center;
    }
    .right1{

        float: left;
        width: 20%;
        text-align: center;
    }
    .left1, .center1, .right1 {
        background: linear-gradient(to right, #3b82f6, #1e3a8a);
        color: white;
    }
    .left1 a, .center1 a, .right1 a {
        display: block;
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
} */
 .nav-menu{
 width: 80%;
 display: flex;
 justify-content: center;   
}
 .burger-img{
    margin-left: auto;
    display: none;
 }
 @media screen and (max-width:800px) {
    .container {
        padding: 0 10px;
    }
    .nav-menu{
        display: none;
    }
    .burger-img{
        display: block;
    }
    .left1{
        margin-left: 0%;
        width: 100%;
    }
    .center1{
        width: 100%;
    }
    .right1{
        width: 100%;
    }
 }
