/* CSS is the language we use to style a Web page.
CSS stands for Cascading Style Sheets
CSS describes how HTML elements are to be displayed on screen, paper, or in other media
CSS saves a lot of work. It can control the layout of multiple web pages all at once
External stylesheets are stored in CSS files */

section{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.feature{
    background-color: antiquewhite;
    margin-left: 40px;
    text-align: justify;
}
.feature1{
    margin-left: 40px;
    text-align: justify;
}
/* li.feature{
    background-color: rgb(138, 138, 209);
} */
.article{
    width: 60%;
    margin: auto;
}
/* p.article{
    text-align: justify;
} */